<h3>
  Yönetim
</h3>

<div style="height: 500px; padding-top: 35px; box-sizing: border-box;">
  <button (click)="removeSelected()">SlctDEL</button>
  <ag-grid-angular
  style="width: 100%; height: 100%;" 
  class="ag-theme-balham" 
  [enableColResize]="true"
  
  (gridReady)="onGridReady($event)"
  [rowSelection]="rowSelection"

  [enableSorting]="true" 
  [enableFilter]="true"
  [pagination]="true" 
  [rowData]="rowDatas1" 
  [columnDefs]="columnDefs"
  (rowClicked)='onRowClicked($event)'>
  </ag-grid-angular>
</div>


<div *ngIf="RoleNAME=='ADM'">

  <div class="myformCARD">
    <form [formGroup]="adminForm" (ngSubmit)="editAdmin()">

      <h4>Sabit Bilgileriniz</h4>

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Kullanıcı Adı</span></div>
        <input type="text" id="Username" name="Username" class="form-control" formControlName="Username">
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Adı</span></div>
        <input type="text" id="Adi" name="Adi" class="form-control" formControlName="Adi">
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Soyadı</span></div>
        <input type="text" id="Soyadi" name="Soyadi" class="form-control" formControlName="Soyadi">
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend"><span class="input-group-text">TC Kimlik</span></div>
        <input type="text" id="TCkimlik" name="TCkimlik" class="form-control" formControlName="TCkimlik">
        <span class="help-block" *ngIf="adminForm.get('TCkimlik').hasError('minlength') && adminForm.get('TCkimlik').touched">TCkimlik en az 11 karakter olmalıdır</span>
        <span class="help-block" *ngIf="adminForm.get('TCkimlik').hasError('maxlength') && adminForm.get('TCkimlik').touched">TCkimlik 11 karakteri geçemez</span>
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Telefon</span></div>
        <input type="text" id="telefon1" name="telefon1" class="form-control" formControlName="telefon1">
        <span class="help-block" *ngIf="adminForm.get('telefon1').hasError('minlength') && adminForm.get('telefon1').touched">Telefon en az 10 karakter olmalıdır</span>
        <span class="help-block" *ngIf="adminForm.get('telefon1').hasError('maxlength') && adminForm.get('telefon1').touched">Telefon 10 karakteri geçemez</span>
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Yetki Seviye</span></div>
        <input type="text" id="YetkiSeviye" name="YetkiSeviye" class="form-control" formControlName="YetkiSeviye">
      </div>      
      <div class="text-right">
        <button [disabled]="!adminForm.valid" type="submit" class="btn btn-primary btn-sm">Tamam</button>
      </div>

      <h6>{{adminForm.value|json}}</h6>
      <h6>{{adminForm.status|json}}</h6>

    </form>
  </div>
</div>